{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-info">
  	<div class="panel-heading">
    <h3 class="panel-title">Nuevo Profesional</h3>
  	</div>
	<div class="panel-body">

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
     {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-info" value="Dar de alta" />
    {{ form_end(form) }}
    
	
	</div>
    
{% endblock %}
