{% extends 'base.html.twig' %}

{% block contenido %}

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Filtro de Profesionales</h3>
  </div>
<div class="panel-body">
	 {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form(form) }}
</div>
</div>
    {{ include ('profesional/index.html.twig') }} 

{% endblock %}

{% block stylesheets %}

{% endblock %}
