<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Menú</h3>
  </div>
  <div class="panel-body">
    <ul>
    <li><h4><a href="{{ path('homepage') }}">Inicio</a></h4></li>
    <li><h4>Profesionales</h4></li>
    	<ul>
    	<li><h4><small><a href="{{ path('nuevo') }}">Nuevo</a></small></h4></li>
    	<li><h4><small><a href="{{ path('rango') }}">Listar por rango de fechas</a></small></h4></li>
    	<li><h4><small><a href="{{ path('listar') }}">Listar por localidad y profesión</a></small></h4></li>
    	</ul>
    <li><h4>Profesiones</h4></li>
    	<ul>
    	<li><h4><small>Nuevo</small></h4></li>
    	<li><h4><small>Listado completo</small></h4></li>
    	</ul>
    <li><h4>Salir</h4></li>
    </ul> 
  </div>
</div>